<header>
  <div class="hero-wrapper">
    <div class="hero-content-wrapper">
      <h2>Welcome to {Your State Here} University!</h2>
      <h3>Home of the {Impressive Animal Here}</h3>
      <p>Your future, in study.</p>
    </div>
  </div>
</header>