<nav>
  <a href="/" class="brand">
    <img src="~/img/favicon.ico" />
    <h3>Home</h3>
  </a>

  <ul>
    <a 
      asp-controller="Course"
      asp-action="Index"
    >Manage Courses</a>
    <a 
      asp-controller="Student"
      asp-action="Index"
    >Manage Students</a>
  </ul>

  <ul class="pull-right">
    <li>
      <i class="bi bi-person"></i>
      <span>You are logged in as {Registrar Person 1}</span>
    </li>
  </ul>
</nav>