<nav>
  <a href="/" class="brand">
    <img src="~/img/favicon.ico" />
    <h1>Home</h1>
  </a>

  <ul>
  </ul>

  <ul class="pull-right">
    <li>
      <i class="bi bi-person"></i>
      <span>You are logged in as {Registrar Person 1}</span>
    </li>
  </ul>
</nav>